destination:
# valid for all blocks without explicit filename
  default:
    filename: "{iso_date}.{iso_time} {event_title}" # {event_title} = Wertpapier-/ETF-/Produkt-Name


# if pattern not found, use this block
  unknown:
    path: "Unknown/{section_title}/"
    filename: "{iso_date}.{iso_time} {event_type} - {event_subtitle} - {document_title} - {event_title}"


# if pattern found multiple times, use this block
  multiple_match:
    path: "MultipleMatchPattern/{section_title}/"
    filename: "{iso_date}.{iso_time} {event_type} - {event_subtitle} - {document_title} - {event_title}"


# stocks
  stock_order_settlement:
    pattern: [
      { event_type: "ORDER_EXECUTED",       document_title: "Abrechnung(.\\d)?" }, # mit limit verkauft
      { event_type: "TRADE_INVOICE",        document_title: "Abrechnung" }, # mit limit gekauft
      { event_type: "STOCK_PERK_REFUNDED",  event_subtitle: "Eingelöst",        document_title: "Abrechnung" }, # Aktiengeschenk
      { event_type: "SHAREBOOKING",         event_subtitle: "Verkauf",          document_title: "Abrechnung \\d" }, # Kapitalmassnahme
    ]
    path: "Stocks/Settlement/{iso_date_year}/"


  stock_order_cost_report:
    pattern: [
      { event_type: "ORDER_CREATED",        event_subtitle: "Limit-Buy-Order erstellt", document_title: "Kosteninformation" }, # limit erstellt
      { event_type: "ORDER_EXECUTED",       document_title: "Kosteninformation(.\\d)?" },
      { event_type: "TRADE_INVOICE",        document_title: "Kosteninformation" },
      { event_type: "STOCK_PERK_REFUNDED",  event_subtitle: "Eingelöst",                document_title: "Kosteninformation" }, # Aktiengeschenk
      { event_type: "EX_POST_COST_REPORT",  event_subtitle: , event_title: "Ex-Post Kosteninformation", document_title: "Ex-Post Kosteninformation \\d+" },
    ]
    path: "Stocks/Cost report/{iso_date_year}/"


  stock_order_created:
    pattern: [
      { event_type: "ORDER_CREATED",  document_title: "Auftragsbestätigung" },
      { event_type: "ORDER_EXECUTED", document_title: "Auftragsbestätigung" },
      { event_type: "TRADE_INVOICE",   document_title: "Auftragsbestätigung" },
    ]
    path: "Stocks/Order created/{iso_date_year}/"


  stock_order_canceled:
    pattern: [
      { event_type: "TRADE_CANCELED",         document_title: "Abrechnung \\d" },
      { event_type: "ORDER_CANCELED",         document_title: "Löschbestätigung" },
      { event_type: "SAVINGS_PLAN_CANCELED",         section_title: "Dokumente", document_title: "Stornierungsbestätigung" },
    ]
    path: "Stocks/Order canceled/{iso_date_year}/"



# Kapitalmaßnahmen
  info_anzeigen1:
    pattern: [
      { event_type: "EXERCISE",     event_subtitle: "Ausübung",                                 document_title: "Kundenanschreiben" },
      { event_type: "SHAREBOOKING" },
      ]
    path: "Wertpapiere/Anzeigen"
    filename: "{iso_date}.{iso_time} {event_subtitle} {event_title}"

# split for better readability
  info_anzeigen2:
    pattern: [
      { event_type: "CORPORATE_ACTION",      event_subtitle: "Kapitalherabsetzung",                 document_title: "Abrechnung" },
      { event_type: "SHAREBOOKING_CANCELED"},
    ]
    path: "Wertpapiere/Anzeigen"
    filename: "{iso_date}.{iso_time} {event_subtitle} {event_title}"

# split for better readability
  info_anzeigen3:
    pattern: [
      { event_type: "SHAREBOOKING_TRANSACTIONAL",   document_title: "Abrechnung" },
      { event_type: "INSTRUCTION_CORPORATE_ACTION", event_subtitle: "Weisung zur Aktiendividende", document_title: "Kundenanschreiben" }, #Kapitalerhöhung gegen Bar
      { event_type: "INSTRUCTION_CORPORATE_ACTION", event_subtitle: "Weisung zur Aktiendividende", document_title: "Kundenanschreiben \\d" }, #Kapitalerhöhung gegen Bar
    ]
    path: "Stocks/Notice/{iso_date_year}/"
    filename: "{iso_date}.{iso_time} {event_subtitle} {event_title}"

# split for better readability
  stock_notice4:
    pattern: [
      { event_type: "ssp_corporate_action_invoice_shares",            event_subtitle: "Spin-off",      document_title: "Dokumente" },
      { event_type: "ssp_corporate_action_invoice_shares",            event_subtitle: "Reverse Split", document_title: "Dokumente" },
      { event_type: "ssp_corporate_action_informative_notification",  event_subtitle: "Wechsel",       document_title: "Information" },
      { event_type: "ssp_corporate_action_informative_notification",  event_subtitle: "Information",   document_title: "Information" },
    ]
    path: "Stocks/Notice/{iso_date_year}/"
    filename: "{iso_date}.{iso_time} {event_subtitle} {event_title}"


  stock_report:
    pattern: [
      { event_type: "QUARTERLY_REPORT", event_subtitle: , event_title: "Q\\d/\\d+ Abschluss", document_title: "Kontoauszug" },
      { event_type: "QUARTERLY_REPORT", event_subtitle: , event_title: "Q\\d/\\d+ Abschluss", document_title: "Depotauszug" },
      { event_type: "QUARTERLY_REPORT", event_subtitle: , event_title: "Q\\d/\\d+ Abschluss", document_title: "Cryptoauszug" },
    ]
    path: "Stocks/Report/{iso_date_year}/"
    filename: "{iso_date} {document_title} {event_title}"


# General Meetings
  stock_general_meetings:
    pattern: [
      { event_type: "GENERAL_MEETING"},
      { event_type: "ssp_corporate_action_informative_notification",  event_subtitle: "Jährliche Hauptversammlung" },
    ]
    path: "Stocks/General Meetings/{iso_date_year}/"


# Savings plan
  savings_plan:
    pattern: [
      { event_type: "SAVINGS_PLAN_INVOICE_CREATED"},
      { event_type: "SAVINGS_PLAN_EXECUTED"},
      { event_type: "SAVINGS_PLAN_CANCELED"},
    ]
    path: "Stocks/Savings plan/{iso_date_year}/"


# pre-determined tax base earning
  stock_pre_earning_tax:
    pattern: [
      { event_type: "PRE_DETERMINED_TAX_BASE_EARNING", event_subtitle: "Vorabpauschale", document_title: "Vorabpauschale" },
    ]
    path: "Stocks/PreEarningTax/{iso_date_year}/"


# Dividends
  dividends_received:
    pattern: [
      { event_type: "CREDIT",                             event_subtitle: "Dividende",    document_title: "Abrechnung" },
      { event_type: "CREDIT",                             event_subtitle: "Ausschüttung", document_title: "Abrechnung" },
      { event_type: "CREDIT_CANCELED",                   event_subtitle: "Dividende",    document_title: "Abrechnung \\d" },
      { event_type: "ssp_corporate_action_invoice_cash"},
    ]
    path: "Dividends/{iso_date_year}/"


# Dividends Corporate action election
  dividends_election:
    pattern: [
      { event_type: "INSTRUCTION_CORPORATE_ACTION",                   event_subtitle: "Weisung zur Aktiendividende",  document_title: "Dividende Wahlweise" },
      { event_type: "ssp_dividend_option_customer_instruction",       event_subtitle: "Cash oder Aktie",              document_title: "Dividende Wahlweise" },
      { event_type: "ssp_corporate_action_informative_notification",  event_subtitle: "Dividende Wahlweise",          document_title: "Kapitalmaßnahmen" },
    ]
    path: "Dividendelection/{iso_date_year}/"


# bonds
  bond_repayment:
    pattern: [
      { event_type: "REPAYMENT", event_subtitle: "Tilgung", document_title: "Abrechnung" },
    ]
    path: "Bonds/{iso_date_year}/"
    filename: "{iso_date}.{iso_time} Repayment {event_title}"

  bond_interest:
    pattern: [
      { event_type: "COUPON_PAYMENT", event_subtitle: "Coupon Zahlung", document_title: "Abrechnung" },
    ]
    path: "Bonds/{iso_date_year}/"
    filename: "{iso_date}.{iso_time} Interest {event_title}"


# Saveback
  saveback_enabled:
    pattern: [
      { event_type: "benefits_saveback_execution", document_title: "Aktivierung" },
    ]
    path: "Saveback/Enabled/"


  saveback_executed:
    pattern: [
      { event_type: "benefits_saveback_execution", document_title: "Abrechnung Ausführung" },
    ]
    path: "Saveback/Report/"


  saveback_cost_report:
    pattern: [
      { event_type: "benefits_saveback_execution", document_title: "Kosteninformation" },
    ]
    path: "Saveback/Cost report/"


# Round up
  roundup_enabled:
    pattern: [
      { event_type: "benefits_spare_change_execution", event_subtitle: "Round up", document_title: "Aktivierung" }, # same files - multiple times at once
    ]
    path: "Roundup/Enabled/"

  roundup_executed:
    pattern: [
      { event_type: "benefits_spare_change_execution", event_subtitle: "Round up", document_title: "Abrechnung Ausführung" },
    ]
    path: "Roundup/Report/{iso_date_year}/"

  roundup_cost_report:
    pattern: [
      { event_type: "benefits_spare_change_execution", event_subtitle: "Round up", document_title: "Kosteninformation" },
    ]
    path: "Roundup/Cost report/{iso_date_year}/"


# account
  cash_interest:
    pattern: [
      { event_type: "INTEREST_PAYOUT",          event_title: "Zinsen", document_title: "Abrechnung" },
      { event_type: "INTEREST_PAYOUT_CREATED",  event_title: "Zinsen",  document_title: "Abrechnung" }
    ]
    path: "Cash Interest/"
    filename: "{iso_date} Zinsabrechnung"


  cash_transfer_report:
    pattern: [
      { event_type: "INCOMING_TRANSFER", event_subtitle: "Erhalten", document_title: "Transaktionsbestätigung" },
    ]
    path: "Cash Report/"
    filename: "{iso_date}.{iso_time} {document_title}" # {event_title} = Personal name


# annual tax report for account
  account_tax_report:
    pattern: [
      { event_type: "TAX_REFUND"},
      { event_type: "TAX_ENGINE_ANNUAL_REPORT"},
      { event_type: "YEAR_END_TAX_REPORT", document_title: "Steuerreport \\d+" },
      { event_type: "ssp_tax_correction_invoice", event_title: "Steuerkorrektur",document_title: "Steuerabrechnung" },
    ]
    path: "Tax/"
    filename: "{iso_date} {document_title}"


  account_tax_adjustment:
    pattern: [
      { event_type: "ssp_tax_correction_invoice", event_title: "Steuerkorrektur", section_title: "Dokumente", document_title: "Steuerabrechnung" },
      { event_type: "TAX_CORRECTION",      event_subtitle: "Steuerbuchung",   event_title: "Steuerabrechnung",        section_title: "Dokumente", document_title: "Abrechnung" },
    ]
    path: "Tax/"
    filename: "{iso_date} {event_title}"


# common informations
  notice_stocks:
    pattern: [
      { event_type: "CUSTOMER_CREATED",  event_subtitle: "Erhalten",               document_title: "Basisinformationen über Wertpapiere" },
      { event_type: "DOCUMENTS_CHANGED" }, # same file as below
    ]
    path: "Notice/"
    filename: "{iso_date} {document_title}"


  notice_crypto:
    pattern: [
      { event_type: "TRADE_INVOICE",                           document_title: "Basisinformationsblatt" }, 
      { event_type: "ORDER_EXECUTED",                          document_title: "Basisinformationsblatt(.\\d)?" }, 
      { event_type: "GESH_CORPORATE_ACTION",                   event_subtitle: "Unternehmensmeldung",  document_title: "Kundenanschreiben" },
      { event_type: "GESH_CORPORATE_ACTION_MULTIPLE_POSITIONS", event_subtitle: "Gesellschaftshinweis", document_title: "Kundenanschreiben \\d" },
    ]
    path: "Notice/"
    filename: "{iso_date} {document_title}"

  
  contract_documents:
    pattern: [
      { event_type: "card_order_billed" },
      { event_type: "DOCUMENTS_CREATED" },
      { event_type: "DOCUMENTS_ACCEPTED" },
    ]
    path: "Contract/"
    filename: "{iso_date} {document_title}"
  
  
  order_expired:
    pattern: [
      { event_type: "ORDER_EXPIRED"},
    ]
    path: "Stocks/Order canceled/{iso_date_year}/"
    filename: "{iso_date} {document_title}"
