name: Build and publish Python distributions to PyPI

on:
  - push
  - workflow_dispatch

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.21"
      - name: Ruff check
        run: uv run ruff check
      - name: Ruff format
        run: uv run ruff format --check

  build-n-publish:
    name: Build and publish Python distributions to PyPI
    runs-on: ubuntu-latest
    needs: checks
    steps:
      - uses: actions/checkout@master
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.21"
      - name: Build wheel
        run: uv build
      - name: Publish distribution to PyPI
        if: startsWith(github.event.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1.9
        with:
          password: ${{ secrets.pypi_token }}
